<p>modules for private projects</p>

<%
      def oauth_settings_hash_to_html(settings,name_pre="settings")
        html = ""
        settings.each do |k,v| 
          unless v.class == Hash || v.class == HashWithIndifferentAccess
            html << "<label>#{name_pre.to_s.gsub("_"," ").gsub("["," ").gsub("]","=>")} #{k.to_s.gsub("_"," ")}</label><br />"
            selectable = oauth_generate_select_from_key(k,v,name_pre)
            if !selectable.nil?
              html << selectable
            else
              if v.class == Array 
                html << text_area_tag("#{name_pre}[#{k}]",v, :rows => "#{(v.join(" ").length / 50).to_i}")
              else
                html << text_field_tag("#{name_pre}[#{k}]",v, :size => "#{v.length > 40 ? 80 : 40}")
              end
            end
            html << "<br />"
          else
            html << oauth_settings_hash_to_html(v,"#{name_pre}[#{k}]")
          end
        end
        return html.html_safe
      end

      def oauth_generate_select_from_key(key,value,name_pre,display_attribute="name")
        return nil unless defined?(key.split('_'))
        keysplit = key.split('_')
        begin 
          return nil if keysplit.length < 2
          obj = keysplit[keysplit.length-2].camelcase.constantize
          if keysplit.last == 'id' && !obj.nil?
            return select_tag("#{name_pre}[#{key}]",options_from_collection_for_select(obj.all, 'id', display_attribute,value.to_i))
          end
        rescue NameError => e
        
        end
        return nil
      end
%>
<%= oauth_settings_hash_to_html(settings)%>